.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  color: rgb(67, 104, 226);
}

.inlineDiv {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered, .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p {
  padding: 2rem 0
}

.submitButtons {
  margin: 1rem 0;
}